

<!-- JAVASCRIPT SECTION -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html>

<nav class="navbar navbar-inverse navbar-fixed-bottom" style="margin-top: 30vh;">
  <div class="container">
    <h4  class="navbar-text">&copy; 2022 All Rights Reserved.</h4>
  </div>
</nav>